@{
    ViewBag.Title = "Edit Personal Project";
}

<div id="MainDiv">
    @*<h4 class="jumbotron">
            Nivel Educativo
        </h4>*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-note"></i> Editar - Proyecto Personal
                    <div class="card-actions">
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-6">
                        <form id="formPP" v-on:submit="editPersonalProject">
                            <input type="hidden" id="PersonalProjectId" name="PersonalProjectId" value="@ViewBag.PersonalProjectId" />
                            <div class="form-group">
                                <label for="Project">Proyecto:</label>
                                <input v-model="vModel.Project" required oninvalid="this.setCustomValidity('Escribe el nombre del proyecto')" oninput="setCustomValidity('')" type="text" class="form-control" id="Project" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto" />
                            </div>
                            <div class="form-group">
                                <label for="Description">Descripción:</label>
                                <textarea v-model="vModel.Description" required oninvalid="this.setCustomValidity('Escribe la descripción')" oninput="setCustomValidity('')" type="text" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Ingrese una descripción del proyecto" style="height: 150px; resize: none;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="Description">Fecha de publicación:</label>
                                <input v-model="vModel.PublicationDate" required oninvalid="this.setCustomValidity('Escribe el nombre del proyecto')" oninput="setCustomValidity('')" type="date" class="form-control" id="PublicationDate" aria-describedby="emailHelp" />
                            </div>
                            <div class="form-group">
                                <label for="Description">URL Google Play Store (Si aplica):</label>
                                <input v-model="vModel.PlayStoreURL" type="text" class="form-control" id="Project" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto" />
                            </div>
                            <div class="form-group">
                                <label for="Description">URL Apple App Store (Si aplica):</label>
                                <input v-model="vModel.AppStoreURL" type="text" class="form-control" id="Project" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto" />
                            </div>
                            <div class="form-group">
                                <label for="Description">URL Microsoft Store (Si aplica):</label>
                                <input v-model="vModel.WinStoreURL" type="text" class="form-control" id="Project" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto" />
                            </div>
                            <div class="form-group">
                                <label for="Description">URL Sitio (Si aplica):</label>
                                <input v-model="vModel.SiteURL" type="text" class="form-control" id="Project" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" name="Create" value="Sign up"><i class="fa fa-save"></i> Guardar</button>
                                <a class="btn btn-danger" href="@Url.Action("Index", "AdmPersonalProjects")"><i class="fa fa-times"></i> Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/Models/PersonalProject/Edit.js"></script>
